/* ! html, body, text */

*{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

html{
    height: 100%;
    width: 100%;
    margin: 0em;
}


body{
    height: 100%;
    width: 100%;
    margin: 0em;
    background-image: url('https://wallpaperaccess.com/full/857.jpg');
    object-fit: scale-down;
    display: flex;
}


/* ! div */

div#weather-card, div#favContainer{
    background: rgba(0, 0, 0, 0.8);
    max-height: 30em;
    max-width: 30em;
    height: 100%;
    width: 100%;
    border-radius: 3em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 4em;
}


div#search{
    height: 2.8em;
    display: flex;
    justify-content: center;
}

div#weather-info span{
    display: flex;
    margin: auto;
    width: 15em;
}

div#favList{
    height: 29em;
}


/* ! weather info */

button{
    background: grey;
    border-radius: 1em;
    padding:0em;
    margin-left:0em;
    margin-bottom:0em;
    height: 1.68em;
    width: 1.68em;
}

input#citySearch{
    background-color: grey;
    border: gray;
    border-radius: 2em;
    height: 3em;
    margin: 0em;
    padding: 0em;
    position: relative;
    margin: 0em 1em 0em;
    text-align: center;
}

div#sameFontSize p{
    font-size: 1.3em;
}

p#weatherDesc{
    text-transform: capitalize;
    width: 150px;
    flex-shrink: 0;
}

p#tempText{
    font-size: 30px;
}

div#weather-info > p#tempText > span{
    font-size: 0.6em;
    display: inline;
}

span#weatherDescSpan{
    display: flex;
    margin: auto;
    width: 300px;
    justify-content: center;
}

p#cityNameText{
    font-size: 30px;
}

img#weatherIcon{
    text-align: center;
    width: 82px;
    height: 82px;
    object-fit:fill;
}

div#favList > div{
    height: 50px;
    display: flex;
}

div#favList > div > button.favItems{
    background: rgba(128, 128, 128, 0.8);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
}


/* ! google icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 30
}